<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .deletepv{
            width:80px;
        }
    </style>
</head>
<body>
    <div>
        <table class="table" id="mytable">
          <thead class="thead">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Size</th>
              <th scope="col">delete</th>
            </tr>
          </thead>
          <tbody>
          {% for data in pvs_data %}
            <tr>
                <td >
                    {{data}}
                </td>
                <td>
                    暫未開放
                </td>
                <td>
                    <label><input type="button" value="刪除PV" class="deletepv" id="deletepv" onclick="pvremove()"></label>
                </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
<script>
    $("#deletepv").click(function(){
      var diskname=document.getElementById("mytable").rows[0].cells;
      alert(diskname[0].innerHTML);
    })

</script>
</html>