{% extends 'htmlModel/base.html' %}

{% block title %}<title>网页管理LVM</title>{% endblock %}

{% block page_content %}
<style>
    .first{
        width: 30%;
        height: 400px;
        border: 2px solid #000;
        float: left;
        border-radius: 30px;
        display: inline-block;
        margin: 1.5%;
    }
    .grid{
        width:100%;
        margin:0 auto;
    }
    .ui-ul{
        height:auto;
        overflow-y: hidden;;
        list-style: none;
        margin-right:-15px;
        margin-left: 15px;
        padding: 0;
    }
    .ui-ul li{
        width:180px;
        height:50px;
        padding:8px 5px 5px 5px;
        float: left;
        border:1px solid #ccc;
        margin-right:0;
        background-color: #E7EAED;
        text-align: center;
    }

</style>

<div style="width: 80%; margin: auto auto">
    <div style="width:100%; border-radius: 30px ">
        <div style="text-align: center;"><h2>Disk</h2>
            <hr></div>
        <div class="grid">
            <div>
                <div class="ui-relative">
                    {% for diskData in allDiskData %}
                    <h3 style="float: left;margin: 8px 20px 5px 20px">{{ diskData['disk'] }}</h3>
                    <ul class="ui-ul">
                        {% if diskData['options'] %}
                        {% for partitionName in diskData['options'] %}
                        <li>
                            <h5 class="tit">{{partitionName}}</h5>
                        </li>
                        {% endfor %}
                        {% else %}
                        <li>
                            <h5 class="tit">{{diskData['disk']}}</h5>
                        </li>
                        {% endif %}
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <hr style = "border: 1px solid #BABAA8">
        <div class="first" title="PV">
            <div style="width: 80%; margin: auto auto">
            <h3 style="margin-top:15px;">PV</h3>
            <hr></div>
            <div>
                {% if lenPVName < 10 %}
                <ul>
                    {% for PVName in allPVName %}
                      <li>{{ PVName }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                <ul>
                    {% for i in range(10) %}
                      <li>{{ allPVName[i] }}</li>
                    {% endfor %}
                </ul>
                <div style="float:right; margin-right:15px;">
                    <button type="button" onclick="LayerShowLvm()">查看所有PV</button>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="first" title="VG">
            <div style="width: 80%; margin: auto auto">
            <h3 style="margin-top:15px;">VG</h3>
            <hr></div>
            <div>
                {% if lenVGName < 10 %}
                <ul>
                    {% for VGName in allVGName %}
                      <li>{{ VGName }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                <ul>
                    {% for i in range(10) %}
                      <li>{{ allVGName[i] }}</li>
                    {% endfor %}
                </ul>
                <div style="float:right; margin-right:15px;">
                    <button type="button" onclick="LayerShowLvm()">查看所有VG</button>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="first" title="LV">
            <div style="width: 80%; margin: auto auto">
            <h3 style="margin-top:15px;">LV</h3>
            <hr></div>
            <div>
                {% if lenLVName < 10 %}
                <ul>
                    {% for LVName in allLVName %}
                      <li>{{ LVName }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                <ul>
                    {% for i in range(10) %}
                      <li>{{ allLVName[i] }}</li>
                    {% endfor %}
                </ul>
                <div style="float:right; margin-right:15px;">
                    <button type="button" onclick="LayerShowLvm()">查看所有LV</button>
                </div>
                {% endif %}
            </div>
        </div>
</div>

<script>
function LayerShowLvm(){
  layer.tab({
      area: ['600px', '300px'],
      tab: [{
        title: 'TAB1',
        content: '<li>/dev/sda2</li>'
      }, {
        title: 'TAB2',
        content: ''
      }, {
        title: 'TAB3',
        content: ''
      }]
    });
}
</script>

{% endblock %}