<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {% block title %}<title>网页管理LVM</title>{% endblock %}

  {% block styles %}
  <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='myCSS.css')}}">
  {% endblock %}
</head>

<body>
{% block navbar %}
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <div id="nav-home" style="width:200px;padding: inherit;"><a class="navbar-brand" href="http://127.0.0.1:9090">首页</a></div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
			   aria-haspopup="true" aria-expanded="false">
              磁盘管理工具
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">磁盘展示</a>
              <a class="dropdown-item" href="#">磁盘分区</a>
              <a class="dropdown-item" href="#">磁盘挂载</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
			   aria-haspopup="true" aria-expanded="false">
              LVM管理工具
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{url_for('lvm./')}}">总览</a>
			  <a class="dropdown-item" href="{{url_for('lvm.lvmInstall')}}">LVM安装</a>
			  <a class="dropdown-item" href="{{url_for('lvm.lvmShow')}}">功能详情页</a>
				<hr>
			  <a class="dropdown-item" href="#">帮助</a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}
        <h1>默认内容</h1>
	{% endblock %}
</div>
{% endblock %}

{% block scripts %}
  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
{% endblock %}

</body>
</html>