<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-2 column">
                    <p>2</p>
				</div>
				<div class="col-md-8 column">
                    <p>8</p>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-2 column">
                    <p>2</p>
				</div>
				<div class="col-md-8 column">
                    <p>8</p>
				</div>
			</div>
		</div>
	</div>
</div>



</body>
</html>