<!DOCTYPE html>
<html>
<!--
    作者：18883362590@163.com
    时间：2017-08-17
    描述：使用html+css+js技术编写一个完整的表格列表内容中 复选框的全选 反选效果

    -->
<head>
<meta charset="UTF-8">
<title></title>
      <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<script type="text/javascript">
function selectall(){
if($("input[name='selectall']").attr("checked")){
$(':checkbox').each(
function() {
$(this).attr("checked", true);
}
);
}else{
$(':checkbox').each(
function() {
if($(this).attr("checked")){
$(this).removeAttr("checked");
}
}
);
}
}
</script>
<body>
<div>
<table bordercolor="#CCCCCC" border="1">
<tr bgcolor="#CCCCCC">
<td><input type="checkbox" name="selectall" onclick="selectall()"/></td>
</tr>
<tr>
<td><input type="checkbox"/></td>
</tr>
<tr>
<td><input type="checkbox"/></td>
</tr>
<tr>
<td><input type="checkbox"/></td>
</tr>
<tr>
<td><input type="checkbox"/></td>
</tr>
<tr>
<td><input type="checkbox"/></td>
</tr>
<tr>
<td><input type="checkbox"/></td>
</tr>
</table>
</div>
</body>
</html>


